
.containerScroll{
  width: 6px;
  height: 60vh;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  position: fixed;
  top:20vh;
}
.scroll{
  width: 100%;
  background: #fff;
  border-radius: 6px;

  transition: all .2s linear;
}

.scrollArrow{
  position: absolute;
  bottom: -18px;
  width: 12px;
  left:-3px;
}


@media(max-width:768px){
.containerScroll{
  width: 4px;
  height: 80vh;
  top:10vh;
}
.scrollArrow{
  position: absolute;
  bottom: -18px;
  width: 12px;
  left:-4px;
}
.scroll{
  transition: all .6s;
}
}
