.container{
  width: 100%;
  height: 100vh;

  display:flex;
  justify-content: flex-start;
  gap:32px;

  transition: all .6s;
}

.content{
  width: 100%;
  max-width: 920px;
  margin:0 auto;
  border-radius: 5px;
}
