:root{
  --primary-color: #08BFE8;
  --secundary-color: #FFFFFF;

  --title:#FFFFFF;
  --text:#B4B4B4;

  --bold:700;
  --medium:600;
  --normal:400;

  --radius:5px;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
body{
  color:var(--title);
  font-weight: var(--light);
}

h1,h2,h3,h4,p{
  margin:0;
  padding:0;
}
h1,h2,h3,h4{
  color:var(--title);
  font-weight: var(--medium);
}
a{
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-weight: var(--medium);
  font-size: .77rem;
}
@media(max-width:1080px){
  html{
    font-size: 88%;
  }
}
@media(max-width:768px){
  html{
    font-size: 85%;
  }
}
